body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.container {
  margin-top: 50px;
}

h1 {
  color: #333;
}

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#coinImage {
  width: 100px; /* Taille de la pièce */
  height: 100px; /* Taille de la pièce */
  cursor: pointer; /* Pour que l'image ressemble à un bouton cliquable */
  transition: transform 0.1s;
}

#coinImage:hover {
  transform: scale(1.1); /* Animation lors du survol */
}

#coinCount, #autoClickerCount {
  margin-top: 20px;
  font-size: 25px;
  color: #333;
}

.shop {
  margin-top: 40px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
